.news-page {
  margin-top: 50px;
  margin-bottom: 150px;

  &__title {
    margin-bottom: 18px;
    font-size: 36px;
    font-weight: 600;
  }

  &__wrapper {
    margin-bottom: 70px;
  }
}

@media (max-width: 680px) {

  .news-page {

    &__title {
      font-size: 28px;
    }
  }
}