.main-page {
  padding-top: 74px;
  position: relative;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 860px) {

  .main-page {

    &__wrapper {
      flex-direction: column;
    }
  }
}