.panel {

  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 150px;
  margin-bottom: 150px;

  form {
    display: flex;
    flex-direction: column;

    max-width: 300px;
    width: 100%;

    background: #F2F2F2;
    padding: 20px;
    border-radius: 12px;

    label {
      display: flex;
      flex-direction: column;
      margin-bottom: 12px;
    }

    input {
      width: 100%;
      margin-top: 5px;
      border-radius: 5px;
      padding: 5px;
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;

      height: 40px;

      color: #fff;
      font-size: 16px;
      background: #548EF3;
      border-radius: 12px;
    }
  }
}