.action-list {
  display: flex;
  flex-direction: column;
  width: 25%;

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 41px;

    font-size: 18px;
    color: #fff;
    font-weight: 600;

    background: #4B5973;
  }

  &__item {
    display: flex;
    flex-direction: column;

    width: 100%;
    margin-top: 16.5px;
    padding: 20px;
    
    background: #9FBEF4;
    color: #fff;
  }

  &__item span {
    font-size: 16px;
    font-weight: 600;
  }

  &__item button {
    margin-top: 10px;
    
    font-size: 13px;
    font-weight: 600;
    text-align: right;
    color: #fff;
  }
}

@media (max-width: 860px) {

  .action-list {

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    overflow: auto;

    &__title {
      width: 100%;
    }

    &__item {
      justify-content: space-between;
      width: 32%;
      height: 150px;
    }
  }

}

@media (max-width: 680px) {

  .action-list {

    &__item {
      width: 48%;
      height: 175px;
      padding: 8px;

      span {
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 380px) {
  .action-list {

    margin-top: 20px;
  }
}


